---
import BlogPostExcerpt from "../../components/BlogPostExcerpt.astro";
import ContentWrapper from "../../components/ContentWrapper.astro";
import H2Title from "../../components/H2Title.astro";
import NewsletterSignup from "../../components/NewsletterSignup.astro";
import Title from "../../components/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = import.meta.glob("../../content/blog/*.md", {
	eager: true,
});

const posts = Object.entries(allPosts)
	.map(([path, post]) => {
		const slug = path.split("/blog/")[1].replace(".md", "");
		return {
			slug,
			title: post.frontmatter.title,
			date: new Date(post.frontmatter.date),
			description: post.frontmatter.description,
			draft: post.frontmatter.draft ?? false,
		};
	})
	.filter((post) => !post.draft)
	.sort((a, b) => b.date - a.date);
---

<BaseLayout title="Journal" slug="blog">
  <ContentWrapper>
    <Title>Journal</Title>

    <p class="text-base/6 md:text-xl/8 mb-8 md:mb-16">
      Thoughts on building fast, accessible, and resilient frontends — drawn
      from years of real-world experience, a couple of books, and a lot of hard
      lessons. Expect deep dives, practical tips, a bit of history, and the occasional opinionated
      take on where the web is going.
    </p>

    <H2Title>All posts</H2Title>

    <ul>
      {posts.map((post) => <BlogPostExcerpt post={post} />)}
    </ul></ContentWrapper
  >

  <NewsletterSignup />
</BaseLayout>
