---
import { getCollection } from "astro:content";
import BlogPostExcerpt from "../../components/BlogPostExcerpt.astro";
import ContentWrapper from "../../components/ContentWrapper.astro";
import H2Title from "../../components/H2Title.astro";
import NewsletterSignup from "../../components/NewsletterSignup.astro";
import Title from "../../components/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (
	await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	})
).sort((a, b) => {
	return new Date(b.data.date) - new Date(a.data.date);
});
---

<BaseLayout title="Journal" slug="blog">
  <ContentWrapper>
    <Title>Journal</Title>

    <p class="text-base/6 md:text-2xl/9 mb-8 md:mb-16">
      Thoughts on building fast, accessible, and resilient frontends — drawn
      from years of real-world experience, a couple of books, and a lot of hard
      lessons. Expect deep dives, practical tips, a bit of history, and the occasional opinionated
      take on where the web is going.
    </p>

    <H2Title>All posts</H2Title>

    <ul class="md:w-2/3">
      {posts.map((post) => <BlogPostExcerpt post={post} />)}
    </ul>
  </ContentWrapper>

  <NewsletterSignup />
</BaseLayout>
