---
import Book from "../components/Book.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
import Cta from "../components/Cta.astro";
import H2Title from "../components/H2Title.astro";
import Title from "../components/Title.astro";
import { Content, frontmatter } from "../content/books.md";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Author" slug="books">
  <ContentWrapper>
    <Title>Books</Title>

    <div
      class="prose
        prose-p:font-mono
        text-base/6
        md:text-2xl/9
        max-w-none
        mb-8
        md:mb-16"
    >
      <Content />
    </div>

    <H2Title>My Books</H2Title>

    <div class="flex flex-col gap-8">
    <Book
      title="Pro JavaScript Development"
      description="A practical guide to writing disciplined, production-grade JavaScript."
      publishedBy="Published by Apress, 2014"
      href="/books/pro-javascript-development"
      image="/images/pro-javascript-development.jpg"
      alt="Pro JavaScript Development book cover"
    />

    <Book
      title="Pro JavaScript RIA Techniques"
      description="The foundations of dynamic UI, written in the early days of modern JavaScript."
      publishedBy="Published by Apress, 2009"
      href="/books/pro-javascript-ria-techniques"
      image="/images/pro-javascript-ria-techniques.jpg"
      alt="Pro JavaScript RIA Techniques book cover"
    />
  </div>

  </ContentWrapper></BaseLayout
>
