---
import ContentWrapper from "../components/ContentWrapper.astro";
import Cta from "../components/Cta.astro";
import H2Title from "../components/H2Title.astro";
import LatestPosts from "../components/LatestPosts.astro";
import Link from "../components/Link.astro";
import NewsletterSignupHome from "../components/NewsletterSignupHome.astro";
import WorkedWith from "../components/WorkedWith.astro";
import { Content } from "../content/index.md";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-gray-100 font-sans">
    <ContentWrapper>
      <div class="flex flex-row gap-16 mt-4 md:mt-16 mb-8">
        <div
          class="flex flex-col items-center md:items-start text-center md:text-left w-full md:w-2/3"
        >
          <div
            class="md:hidden mb-6 w-32 h-32 rounded-full bg-[url('/images/denodell.jpg')] bg-cover bg-center"
          >
          </div>

          <h1 class="mb-1 text-6xl md:text-8xl font-bold tracking-tighter">
            Den Odell
          </h1>

          <small
            class="uppercase text-xs md:text-sm text-gray-600 mb-8 md:mb-12"
            >Frontend Architect · Author · Developer</small
          >

          <p
            class="max-w-md text-3xl md:text-5xl mb-12 md:mb-16 font-medium tracking-tight"
          >
            Built frontends used&nbsp;by&nbsp;millions. Wrote the books that
            teach others&nbsp;how.
          </p>

          <div class="flex flex-row gap-4">
            <Cta href="mailto:contact@denodell.com">Get in touch</Cta>
            <Cta href="/blog" inverse>Journal</Cta>
          </div>
        </div>
        <div class="hidden md:block w-1/3">
          <div
            class="rounded-xl bg-[url('/images/denodell.jpg')] bg-cover bg-center w-full h-93"
          >
          </div>
        </div>
      </div>
    </ContentWrapper>
  </div>

  <ContentWrapper>
    <WorkedWith />
  </ContentWrapper>

  <NewsletterSignupHome />

  <ContentWrapper>
    <div class="flex flex-col md:flex-row gap-8 md:gap-16 mt-8">
      <div class="md:w-2/3">
        <LatestPosts title="Journal" variant="home" />
      </div>

      <div class="md:w-1/3">
        <div class="flex flex-row items-center justify-between">
          <H2Title><a href="/books">Books</a></H2Title>
          <Link href="/books" class="mb-4 md:mb-8 text-sm md:text-base"
            >View all →</Link
          >
        </div>

        <div class="flex flex-row gap-4 mb-8 w-2/3 md:w-1/2 md:w-full">
          <a href="/books/pro-javascript-development"
            ><img
              class="block"
              src="/images/pro-javascript-development.jpg"
              alt="Pro JavaScript Development book cover"
            /></a
          >
          <a href="/books/pro-javascript-ria-techniques"
            ><img
              class="block"
              src="/images/pro-javascript-ria-techniques.jpg"
              alt="Pro JavaScript RIA Techniques book cover"
            /></a
          >
        </div>
      </div>
    </div>
  </ContentWrapper>

  <ContentWrapper>
    <div
      class="my-8 md:my-16 prose prose-p:font-mono text-base md:text-xl/8 max-w-none"
    >
      <Content />
    </div>
  </ContentWrapper>
</BaseLayout>
