---
import ContentWrapper from "../../components/ContentWrapper.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const allPosts = import.meta.glob("../../content/thought-leader/*.md", {
		eager: true,
	});

	return Object.keys(allPosts).map((filePath) => {
		const slug = filePath.split("/thought-leader/")[1].replace(".md", "");

		return {
			params: { slug },
		};
	});
}

const { slug } = Astro.params;

const allPosts = import.meta.glob("../../content/thought-leader/*.md", {
	eager: true,
});

const postEntry = Object.entries(allPosts).find(([path]) =>
	path.includes(`${slug}.md`),
);

if (!postEntry) {
	throw new Error(`No post found for slug: ${slug}`);
}

const { frontmatter, default: Content } = postEntry[1];
---

<BaseLayout title={frontmatter.title} slug="thought-leadership">
  <ContentWrapper>
    <article class="relative">
      <div
        class={"w-auto max-w-none -mt-38 md:-mt-32 -mx-24 h-72 md:h-128 bg-[url('/images/thought-leadership/" +
          slug +
          ".avif')] bg-cover bg-center"}
      >
      </div>

      <span class="absolute top-5 inline bg-background text-base"
        >&nbsp;<a
          href="/thought-leadership/"
          class="underline underline-offset-4 decoration-2 decoration-solid decoration-gray-300 hover:decoration-black transition"
          >← View all posts</a
        >&nbsp;</span
      >

      <h1
        class="relative -mt-8 md:-mt-16 mb-0 text-3xl md:text-6xl font-bold font-sans tracking-tight"
      >
        <span class="block -mx-2 md:-mx-4 p-2 md:p-4 bg-background"
          >{frontmatter.title}</span
        >
      </h1>

      <p class="text-xs md:text-base text-gray-500 mt-0 mb-8 md:mb-24">
        {
          new Date(frontmatter.date).toLocaleDateString("en-GB", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        } &mdash; by Den Odell
      </p>

      <div
        class="prose prose-xl prose-h2:font-sans prose-h2:text-xl md:prose-h2:text-3xl prose-p:text-sm/7 md:prose-p:text-2xl/10 prose-li:text-sm/7 md:prose-li:text-xl/8 max-w-none"
      >
        <Content />
      </div>

    </article></ContentWrapper
  >
</BaseLayout>
