---
import ContentWrapper from "./ContentWrapper.astro";
---

<footer class="bg-gray-100 text-center">
  <ContentWrapper>
    <p class="p-10 flex flex-row items-center justify-between">
      <span class="text-xs md:text-base">© 2025 Den Odell</span><br />
      <span class="text-xs"
        >Built using <a
          class="underline underline-offset-4 decoration-2 decoartion-solid decoration-gray-300 hover:decoration-black transition"
          href="https://astro.build"
          target="_blank"
          rel="noopener noreferer">Astro</a
        > & <a
          class="underline underline-offset-4 decoration-2 decoartion-solid decoration-gray-300 hover:decoration-black transition"
          href="https://tailwindcss.com"
          target="_blank"
          rel="noopener noreferer">Tailwind CSS</a
        ></span
      >
    </p>
  </ContentWrapper>
</footer>
