---
import { getCollection } from "astro:content";
import BlogPostExcerpt from "./BlogPostExcerpt.astro";
import BlogPostExcerptHome from "./BlogPostExcerptHome.astro";
import H2Title from "./H2Title.astro";
import Link from "./Link.astro";
const { title, variant } = Astro.props;

const posts = (
	await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	})
).sort((a, b) => {
	return new Date(b.data.date) - new Date(a.data.date);
});
---

<div class="flex flex-row items-center justify-between">
  <H2Title><a href="/blog">{title}</a></H2Title>
  <Link href="/blog" class="mb-4 md:mb-8 text-sm md:text-base"
    >View all posts →</Link
  >
</div>

<ul class="mb-4 gap-4 md:gap-8 list-none">
  {posts.slice(0, 3).map((post) => <BlogPostExcerpt variant="home" post={post} />)}
</ul>
