<a href="/" class="rounded-lg bg-black overflow-hidden">
    <picture>
        <!-- <source srcset="/images/logo-dark.avif" media="(prefers-color-scheme: dark)" /> -->
        <img class="w-[30px] h-[30px] md:w-[45px] md:h-[45px]" src="/images/logo.avif" alt="Den Odell logo" loading="eager" />
    </picture>
</a>