---
import ContentWrapper from "./ContentWrapper.astro";
---

<div class="bg-gray-100 w-full">
  <ContentWrapper>
    <div class="flex flex-col w-fit mx-auto text-center items-center">
      <h2 class="font-sans font-bold text-xl/6 md:text-2xl mb-1">
        Subscribe for sharp takes on frontend&nbsp;craft.
      </h2>
      <p class="text-sm md:text-base pb-4 md:pb-6">
        No noise. Just occasional emails on what&nbsp;matters.
      </p>
      <form
        class="flex flex-col gap-2"
        action="https://buttondown.com/api/emails/embed-subscribe/denodell"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.com/denodell', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <span class="flex flex-row gap-2">
          <input
            class="border-solid border-1 text-sm md:text-base p-2"
            type="email"
            name="email"
            placeholder="Email address"
          />
          <input
            class="rounded-lg font-medium tracking-tight text-sm md:text-base p-4 md:p-6 py-2 md:py-3 border-1 border-solid border-black bg-black text-white cursor-pointer"
            type="submit"
            value="Subscribe"
          />
        </span>
      </form>
    </div>
  </ContentWrapper>
</div>
