---
import Link from "./Link.astro";
---

<div
  class="py-2 w-full bg-gray-100 text-gray-800"
>
  <p class="px-3 md:px-5 max-w-5xl w-full text-center md:text-right mx-auto text-xs md:text-sm text-gray-800">
    Open to U.S. job roles. O-1 visa eligible.
    <Link href="mailto:contact@denodell.com"
      >Get in touch →</Link
    >
  </p>
</div>
