<div class="flex flex-col items-center">
    <h1 class="font-sans text-center mt-12 md:mt-17 mb-10 md:mb-12">
        <span class="block font-bold text-6xl/11 md:text-8xl/22 tracking-tight mb-6 md:mb-12"><slot /></span>
    </h1>
</div>