<div class="py-6 md:py-8">
  <div
    class="opacity-50 flex flex-row flex-wrap items-center justify-center md:justify-between gap-6 mb-6"
  >
    <img class="w-[45px] md:w-[60px]" src="/images/logos/nike.svg" alt="Nike" />
    <img class="w-[90px] md:w-[120px]" src="/images/logos/volvo.svg" alt="Volvo" />
    <img class="w-[45px] md:w-[60px]" src="/images/logos/riot-games.svg" alt="Riot Games" />
    <img class="w-[60px] md:w-[80px]" src="/images/logos/mini.svg" alt="MINI" />
    <img class="w-[75px] md:w-[100px]" src="/images/logos/unicef.svg" alt="UNICEF" />
    <img class="w-[83px] md:w-[110px]" src="/images/logos/heineken.svg" alt="Heineken" />
    <img class="w-[45px] md:w-[60px]" src="/images/logos/akqa.svg" alt="AKQA" />
  </div>
  <p class="text-sm md:text-base text-center md:text-left text-gray-500">Trusted by teams at Nike, Volvo Cars, Riot Games, and&nbsp;more.</p>
</div>
