---
import ContentWrapper from "../../components/ContentWrapper.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import Title from "../../components/Title.astro";
import { Content, frontmatter } from "../../content/thought-leadership.md";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Thought Leader" slug="thought-leadership">
  <ContentWrapper>
    <Title>Thought Leadership</Title>

    <ImageBlock
      image="/images/fowd.jpg"
      alt="Den Odell speaking at Future of Web Design Conference in 2015"
      content={frontmatter.intro}
    />

    <div
      class="prose prose-h2-font-sans prose-h2-tracking-tight prose-h2:text-4xl prose-p:font-mono text-base md:text-xl/8 prose-a:font-light prose-a:underline prose-a:underline-offset-4 prose-a:decoration-2 prose-a:decoartion-solid prose-a:decoration-gray-300 prose-a:hover:decoration-black prose-a:transition max-w-none"
    >
      <Content />
    </div>
  </ContentWrapper>
</BaseLayout>
